@model SJT___Sua_Jornada_na_Tecnologia.Models.ViewModels.ViewModel
@{
    ViewData["Title"] = "Home Page";
}

<style>
    #desc {
        padding: 5px;
        border: 2px solid;
        background-color: #dff0d8;
        border-color: #d6e9c6;
    }

        #desc:hover {
            background-color: #497d34;
            border-color: #497d34;
            color: white;
        }
</style>
<div class="text-center">
    <h1 class="display-4">SJT - Sua Jornada na Tecnologia</h1>
    <p>Responda as perguntas abaixo e descubra a Jornada na tecnologia que você esta trilhando.</p>
</div>
<br />

@foreach (var item in Model.Perguntas)
{
    <div class="container">
        <div class="row">
            <p>@item.Descricao</p>
        </div>
        <div class="row">
            @foreach (var pergunta in item.Respostas)
            {
                <div class="col-sm-6" id="desc" type="button">
                    <p>@pergunta.Descricao</p>
                </div>
            }
        </div>
    </div>
}