@model SJT___Sua_Jornada_na_Tecnologia.Models.ViewModels.ViewModel
@{
    ViewData["Title"] = "Home Page";
}

<style>
    #desc {
        padding: 5px;
        border: 2px solid;
        background-color: #dff0d8;
        border-color: #d6e9c6;
    }

        #desc:hover {
            background-color: #497d34;
            border-color: #497d34;
            color: white;
        }
</style>

<div class="container text-center">
    <h1 class="display-4">SJT - Sua Jornada na Tecnologia</h1>
    <p>Responda as perguntas e descubra qual Jornada na tecnologia que você esta trilhando.</p>
</div>
<br />
<div class="container text-center">
    <a asp-area="" asp-controller="Home" asp-action="Perguntas">
        <button class="btn btn-success" style="width: 100%;"> Clique aqui para começar</button>
    </a>
</div>


